## Build generated
.DS_Store
build/
DerivedData

## Various settings
xcuserdata

## Other
*.xccheckout
*.xcuserstate
*.xcscheme
Manifest.lock

## Pods
Pods/*
OnBoardingTestObjC.xcworkspace/contents.xcworkspacedata

## AppCode
.idea/
